<%= form_with(model: @comment, class: "needs-validation", novalidate: true) do |form| %>
  <% if @comment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= form.text_field :text, class: "form-control ",placeholder: 'Add a comment...', required: true,aria: { label: 'Comment', describedby: 'basic-addon2' }  %>
    <div class="input-group-append">
      <%= form.number_field :user_id, value: current_user.id, class: "form-control", type: "hidden" %>
      <%= form.number_field :post_id, value: @post.id, class: "form-control", type: "hidden" %>
        <%= form.submit 'Comment', class: 'btn btn-primary' %>
      </div>
  </div>
<% end %>

