<%= turbo_frame_tag "appearance_channel" %>
<div id="appearance_channel"></div>

<div class="conatiner p-5 ">
<div id="chatroom_container" class="row bg-dark text-light">
  <div id="side_panel" class="col-md-4 col-sm-4">
    <li class="list-group-item d-flex align-items-center justify-content-between user_list_item">
      <div class="icon-container">
        <% if current_user&.profile_img.present? %>
            <%= link_to image_tag(current_user.profile_img, class: 'chat_pfp'), current_user %>
        <% else %>
            <%= link_to image_tag("https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp", class: 'chat_pfp'), current_user %>
        <% end %>
        <%= turbo_stream_from "user_status" %>
        <div>
          <%= render "users/status", user: current_user %>
        </div>
      </div>
      <div class='ms-2 me-auto username'>
        <%= current_user.email%>
      </div>
    </li>
    <h4> Users </h4>
    <%= turbo_stream_from "users" %>
    <div id="users">
      <%= render @users %>
    </div>
    <h4> Rooms </h4>
    <%= turbo_stream_from "rooms" %>
    <%= render 'layouts/new_room_form' %>
    <div id="rooms">
      <%= render @rooms%>
    </div>
  </div>
  <div id="room_container "
    class="col-md-8 col-sm-8 bg-dark text-light border border-danger" >
    <% if @single_room %>
      <div id="single_room">
        <h4 class="text-center border border-danger"> <%= @user&.email || @single_room.name %> </h4>
        <%= turbo_stream_from @single_room %>
        <div id="messages" data-controller="scroll">
          <%= render @messages %>
        </div>
        <%= render 'layouts/new_messages_form' %>
      </div>
      
    <% end %>
  </div>
</div>
</div>