<div class="col-xl-4 col-md-6 col-sm-8 col-10" style="margin: auto;">
<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<h1>New post</h1>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title ,class: "form-control"%>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description ,class: "form-control"%>
  </div>

  <div>
    <%= form.label :video, style: "display: block" %>
    <%= form.file_field :video,class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id ,id: :post_user_id,class:"form-control",value: current_user.id ,type: :hidden %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary col-12" %>
  </div>
<% end %>
</div>
