<div id="card-container" class="vh-90 d-flex flex-column justify-content-center align-items-center bg-light p-5">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4 class="pb-0 text-center">Stories</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div id="content_1" class="tabcontent story-area"> 
                                <div class="story-container-1">
                                    <div class="single-create-story">
                                        <a href="<%= stories_new_path(id: current_user.id) %>">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="single-create-story-bg">
                                            <div class="create-story-author">
                                                <i class="fa fa-plus-circle fa-2x text-info"></i>
                                                <p>Create a story</p>
                                            </div>
                                        </a>
                                    </div>
                                    <% @stories.each do |story| %>
                                        <a href="<%= story_path(story) %>">
                                            <div class="single-story">
                                                <img src="<%= story.Media_was %>" class="single-story-bg">
                                                <div class="story-author">
                                                    <img src="<%= story.user.profile_img %>">
                                                    <p><%= story.user.first_name%></p>
                                                </div>
                                            </div>
                                        </a>
                                    <% end %>
                                    <div class="single-story">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="single-story-bg">
                                        <div class="story-author">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png">
                                            <p>Mike</p>
                                        </div>
                                    </div>
                                    <div class="single-story">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="single-story-bg">
                                        <div class="story-author">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar4.png">
                                            <p>Lisa</p>
                                        </div>
                                    </div>
                                    <div class="single-story">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="single-story-bg">
                                        <div class="story-author">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar5.png">
                                            <p>William</p>
                                        </div>
                                    </div>
                                    <div class="single-story">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="single-story-bg">
                                        <div class="story-author">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
                                            <p>Jonthy</p>
                                        </div>
                                    </div>
                                    <div class="single-story">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="single-story-bg">
                                        <div class="story-author">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png">
                                            <p>Steve</p>
                                        </div>
                                    </div>
                                    <div class="single-story">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="single-story-bg">
                                        <div class="story-author">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar8.png">
                                            <p>Jenni</p>
                                        </div>
                                    </div>
                                    <div class="single-story">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="single-story-bg">
                                        <div class="story-author">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                            <p>Sagarika</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
      <!-- Sorting UI -->
    <div class="sort-by mb-3">
      Sort by :
      <%= link_to "Name (Ascending)", { sort_by: 'name_asc' }, class: 'btn btn-light' %> |
      <%= link_to "Name (Descending)", { sort_by: 'name_desc' }, class: 'btn btn-light' %> |
      <%= link_to "Latest", { sort_by: 'latest' }, class: 'btn btn-light' %>|
      <%= link_to "Oldest", { sort_by: 'oldest' }, class: 'btn btn-light' %>
    </div>
        <% @following_posts.each_slice(4) do |posts_slice| %>
            <div class="row ">
                <% posts_slice.each do |post| %>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 "> <!-- Adjusted column classes -->
                        <div class="card h-100 border border-primary">
                            <%= post.user.first_name %> <%= post.user.last_name %>
                            <video controls class="card-img-top" width="100%">
                                <source src="<%= url_for(post.video) %>" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <div class="card-body">
                                
                                <%= link_to "View Post", post_path(post), class: "btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
        <%= will_paginate @following_posts, renderer: CustomPagination %>

</div>
